[Unit]
Description=Haarp Cache service
After=squid.service
Conflicts=sendmail.service exim.service

[Service]
Type=forking
PIDFile=/var/log/haarp/haarp.pid
ExecStart=/usr/local/sbin/haarp -c /etc/haarp/haarp.conf
ExecReload=kill -HUP `cat /var/log/haarp/haarp.pid`; /usr/local/sbin/haarp -c /etc/haarp/haarp.conf;
ExecStop=kill -HUP `cat /var/log/haarp/haarp.pid`

[Install]
WantedBy=multi-user.target
